<article class="piano">
  <div class="piano__key piano__key--kara" data-letter="D" data-note="c"></div>
  <div class="piano__key" data-letter="F" data-note="d"></div>
  <div class="piano__key" data-letter="G" data-note="e"></div>
  <div class="piano__key" data-letter="H" data-note="f"></div>
  <div class="piano__key" data-letter="J" data-note="g"></div>
  <div class="piano__key" data-letter="K" data-note="a"></div>
  <div class="piano__key" data-letter="L" data-note="b"></div>

  <div class="piano__keys-sharp">
    <div
      class="piano__key piano__key--sharp"
      data-letter="R"
      data-note="c♯"
    ></div>
    <div
      class="piano__key piano__key--sharp"
      data-letter="T"
      data-note="d♯"
    ></div>
    <div class="piano__key piano__key--sharp piano__key--none"></div>
    <div
      class="piano__key piano__key--sharp"
      data-letter="U"
      data-note="f♯"
    ></div>
    <div
      class="piano__key piano__key--sharp"
      data-letter="I"
      data-note="g♯"
    ></div>
    <div
      class="piano__key piano__key--sharp"
      data-letter="O"
      data-note="a♯"
    ></div>
  </div>
</article>
