<article class="piano">
  <div
    class="piano__key piano__key--kara"
    data-letter="D"
    data-note="c"
    (mousedown)="onMouseDown($event)"
    (mouseover)="onMouseOver($event)"
    (mouseout)="onMouseOut($event)"
  ></div>
  <div
    class="piano__key"
    data-letter="F"
    data-note="d"
    (mousedown)="onMouseDown($event)"
    (mouseover)="onMouseOver($event)"
    (mouseout)="onMouseOut($event)"
  ></div>
  <div
    class="piano__key"
    data-letter="G"
    data-note="e"
    (mousedown)="onMouseDown($event)"
    (mouseover)="onMouseOver($event)"
    (mouseout)="onMouseOut($event)"
  ></div>
  <div
    class="piano__key"
    data-letter="H"
    data-note="f"
    (mousedown)="onMouseDown($event)"
    (mouseover)="onMouseOver($event)"
    (mouseout)="onMouseOut($event)"
  ></div>
  <div
    class="piano__key"
    data-letter="J"
    data-note="g"
    (mousedown)="onMouseDown($event)"
    (mouseover)="onMouseOver($event)"
    (mouseout)="onMouseOut($event)"
  ></div>
  <div
    class="piano__key"
    data-letter="K"
    data-note="a"
    (mousedown)="onMouseDown($event)"
    (mouseover)="onMouseOver($event)"
    (mouseout)="onMouseOut($event)"
  ></div>
  <div
    class="piano__key"
    data-letter="L"
    data-note="b"
    (mousedown)="onMouseDown($event)"
    (mouseover)="onMouseOver($event)"
    (mouseout)="onMouseOut($event)"
  ></div>

  <div class="piano__keys-sharp">
    <div
      class="piano__key piano__key--sharp"
      data-letter="R"
      data-note="c♯"
      (mousedown)="onMouseDown($event)"
      (mouseover)="onMouseOver($event)"
      (mouseout)="onMouseOut($event)"
    ></div>
    <div
      class="piano__key piano__key--sharp"
      data-letter="T"
      data-note="d♯"
      (mousedown)="onMouseDown($event)"
      (mouseover)="onMouseOver($event)"
      (mouseout)="onMouseOut($event)"
    ></div>
    <div class="piano__key piano__key--sharp piano__key--none"></div>
    <div
      class="piano__key piano__key--sharp"
      data-letter="U"
      data-note="f♯"
      (mousedown)="onMouseDown($event)"
      (mouseover)="onMouseOver($event)"
      (mouseout)="onMouseOut($event)"
    ></div>
    <div
      class="piano__key piano__key--sharp"
      data-letter="I"
      data-note="g♯"
      (mousedown)="onMouseDown($event)"
      (mouseover)="onMouseOver($event)"
      (mouseout)="onMouseOut($event)"
    ></div>
    <div
      class="piano__key piano__key--sharp"
      data-letter="O"
      data-note="a♯"
      (mousedown)="onMouseDown($event)"
      (mouseover)="onMouseOver($event)"
      (mouseout)="onMouseOut($event)"
    ></div>
  </div>
</article>
